.loader{
    display: block;
    margin:auto;
}
.loading{
    position:relative;
    text-align: center;;
    top: -77px;
    font-size: 25px;
    color: white;
    text-shadow: -1px -3px 6px #ffffff;
}